/* RESPONSIVE
-----------------------------------
   PC > 1024px
   Tablet >= 740px && <1024px
   Mobile <740px 
*/


/* PC */
@media (min-width: 1024px){}
/* Tablet */
@media (min-width: 740px) and (max-width:1023px){}
/* Mobile */
@media (max-width: 740px){
    #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }

    #nav{
        display: block;
    }
    #nav > li{
        display: block;
    }

    #nav li a{
        padding: 1px 24px;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;
        background-color: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
    #content .member-item-team{
        margin-top: 30px;
        width: 100%;
        color: #000;
    }
    #content .mem-place{
        margin-top: 30px;
        width: 100%;
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
        
    }
    #content .member-img {
        margin-top: 33px;
        width: 345px;
        height: 560px;
        border-radius: 10px;
    }

    #contact .mobile-contact{
        width: 100%;
        padding-bottom: 15px;
    }
    .contact-form .form-submit-btn{
        padding: 10px 20%;
    }
    #footer .social-list {
        font-size: 30px;
    }

}