/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}

#header{
   z-index: 1;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 46px;
   background-color: black;
}
#nav{
   display: inline-block;
}

 #nav, .subnav{
    list-style: none;
 }

 #nav > li{
    display: inline-block;
}

 #nav li{
    position: relative;
 }

 #nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    min-width: 160px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0,0,0,0.3s);
 }

 #nav > li > a{
    color: white;
    text-transform: uppercase;
}

 #nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
 }

 #nav li:hover .subnav{
    display: block;
 }

 #nav > li:hover > a,
 #nav .subnav li:hover{
    color: #000!important;
    background-color: #ccc!important;
 }

 #nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrou-down{
   font-size: 14px;
}

#header .search-btn{
   float: right;
   padding: 0 21px;
} 

#header .search-btn:hover{
   cursor: pointer;
   background-color: #f44336;
}

#header .search-icon{
   color: white;
   font-size: 20px;
   line-height: 46px;
}

#slider{
   position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url(/assets/img/slider/silde1.jpg) top center / cover no-repeat;
}
#slider  .text-content{
   position:absolute;
   bottom: 47px;
   color: white;
   /* left: 50%;
   transform: translateX(-50%); */
   width: 100%;
   text-align: center;
}

#slider  .text-heading{
   font-weight: 500;
   font-size: 24px;
}

#slider  .text-discripsiton{
   font-size: 15px;
}

#content{
   /* margin-top: 25px;
   height: 50000px;
   background-color:darkseagreens; */
}

#content .content-section{
   width: 800px;
   padding: 64px 0;
   margin-left: auto;
   margin-right: auto;
}

#content .section-heading{
   font-size: 30px;
   font-weight: 500;
   letter-spacing: 4px;
   text-align: center;
   
}

#content .section-sub-heading{
   font-size: 15px;
   font-style: italic;
   opacity: 0.6;
   margin-top: 25px;
   text-align: center;
}


#content .about-text{
   font-size: 15px;
   margin-top: 25px;
   text-align: justify;
   line-height: 1.4;
}


#footer{

}
